div.weather-app {
    max-width: 600px;
    margin: 30px auto;
}

li.weather-stats {
    list-style-type: none;
    text-align: left;
}

div.search {
    margin: 30px 0;
}
#city {
    display: inline;
}

#description {
    text-transform: capitalize;
}
#temperature {
    
    font-size: 34px;
}

footer {
    text-align: center;
}